# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Wails build directory
build/bin/

# Node modules
frontend/node_modules/
frontend/dist/
